.about-bg {
  height: 100%;
  min-height: 500px;
  background-image: linear-gradient(#1c2938, #121a24);
}
.about-content {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 10px;
}
.about-content p {
  /* line-break: anywhere; */
}
.about-content img {
  /* flex-basis: 35%; */
  min-width: 300px;
  /* width: 100%; */
}
@media (max-width: 850px) {
  .about-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-content img {
    min-width: 300px;
  }
  .about-col-2 {
    justify-items: center;
  }
}
.about-col-2 {
  /* flex-basis: 60%; */
}
.sub-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
}
.tab-titles {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px;
  color: var(--white);
}
.tab-links {
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--purple);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  margin: 10px 0;
  color: var(--gray);
}
.tab-contents ul li span {
  color: var(--purple);
  font-size: 1rem;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
@media screen and (max-width: 800px) {
  .about-pic {
    margin: 0 auto 40px;
  }
  .about-text {
    flex: 100%;
    text-align: center;
  }
}
