.contact-bg {
  background-image: var(--bg-grad);
}
.row {
  display: flex;
  gap: 6%;
}
.contact-form {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 60%;
}
.contact-btn {
  flex: 1 1 400px;
}
.contact-form input,
textarea {
  flex: 1 1 450px;
  border: 1px solid var(--purple);
  background-color: var(--gray);
  outline: none;
  padding: 15px 10px 15px 10px;
  margin: 10px;
  margin-right: 0%;
  margin-left: 0%;
  color: #333;
  font-size: 1.2rem;
  border-radius: 6px;
}
.contact-info {
}
@media (max-width: 750px) {
  .row {
    flex-wrap: wrap;
  }
  .contact-form {
    flex-basis: auto;
  }
}
.contact-info p {
  margin-top: 30px;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: nowrap;
}
.contact-info p i {
  color: var(--purple);
  margin-right: 15px;
  font-size: 1.5rem;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  font-size: 1.5rem;
  margin-right: 15px;
  display: inline-block;
  color: var(--gray);
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: var(--purple);
  transform: translateY(-5px);
}
