.portfolio-bg {
  background-image: var(--bg-grad);
}
.work-list ul {
  display: flex;
  gap: 20px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}
.work-list li {
  min-width: 280px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work-list img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
  transition: transform 0.5s;
}
.efect {
  align-content: center;
  justify-items: center;
}
.layer {
  width: 100%;
  height: 0;
  color: var(--white);
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--purple));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}

.layer h3 {
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: var(--purple);
  text-decoration: none;
  font-size: 2rem;
  line-height: 60px;
  background: #f1f1f1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work-list li:hover img {
  transform: scale(1.1);
}
.work-list li:hover .layer {
  height: 100%;
}
